.choose-character{
    background: url('/assets/images/selectBg.png') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #F6F6F6;
    font-family: 'Oswald', sans-serif !important;
    p{
        font-size: 4rem;
        margin-bottom: 4rem;
    }
    .option{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 1rem;
        .img-option{ 
            border-radius: 50%;
            min-width: 300px;
            min-height: 300px;
            max-width: 300px;
            max-height: 300px;
            display: flex;
            justify-content: center;
            filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
            overflow: hidden;
            img{    
                max-width: 300px;
                position: relative;
                top: 30%;
            }
        }
        .btn-option{
            color: black;
            width: 200px;
            margin-top: 10%;
            font-size: 2rem;
            font-family: 'Oswald', sans-serif !important;
            border-color: #000;
            display: flex;
            padding: 0 !important;
            align-items: center;
            justify-content: center;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
    button{
        width: 200px;
        font-size: 2rem;
        padding: 1rem 2rem;
        font-family: 'Oswald', sans-serif !important;
    }
}
::ng-deep .mat-radio-button .mat-radio-container {
    width: 0;
}

::ng-deep .mat-radio-container .mat-radio-outer-circle,
::ng-deep .mat-radio-container .mat-radio-inner-circle {
    border: none;
    width: 0;
}
::ng-deep .mat-radio-label {
    justify-content: center;
    z-index: 9999;
    margin: 8px;
    cursor: url('/assets/images/cursor.png') 14 0, pointer !important;
}
::ng-deep .mat-radio-label-content{
    padding-left: 0 !important;
}