<div class="nes-dialog dialog-container">
  <form [formGroup]="form" (ngSubmit)="saveJob()">
    <div style="width: 100%;">
      <label for="job_title">Título Vaga</label>
      <input formControlName="title" type="text" id="job_title" placeholder="Título da Vaga" class="nes-input">
    </div>
    <div formArrayName="requirements">
      <label>Requisitos </label>
      <div *ngFor="let item of requirements.controls; let pointIndex=index" [formGroupName]="pointIndex" style="display: flex; flex-direction: row; margin-bottom: 5px">
        <input class="nes-input" formControlName="requirement"/>
        <button type="button" style="margin-left: 10px" class="nes-btn is-error" (click)="deleteSellingPoint(pointIndex)">Remover</button>
      </div>
      <button type="button" class="nes-btn is-primary" style="margin-top: 10px; margin-bottom: 10px" (click)="addRequirements()">Adicionar</button>
    </div>
    <div style="width: 100%;">
      <label for="job_description">Descrição</label>
      <textarea formControlName="description" id="job_description" placeholder="Descrição" class="nes-textarea"></textarea>
    </div>
  </form>
  <div style="" class="buttons">
    <button type="button" class="nes-btn" (click)="close()">Cancel</button>
    <button type="submit" class="nes-btn is-primary">Salvar</button>
  </div>
</div>
