.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.dialog-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
