.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.dialog-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
