.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    align-items: center;
    justify-content: space-around;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    padding: 0 2rem;
    width: 80%;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;

    .logo {
        height: 100%;
        min-height: 80px;
        margin-bottom: 1rem;
    }

    .nes-btn {
        margin-left: 10px;
        min-width: 100px;
    }
}
.content{
  height: calc(100% - 250px);
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  border: 4px solid transparent;
  outline: 4px solid rgba(5, 5, 5, 1);
  position: relative;
  .keen-slider {
      height: 100%;
      color: #f6f6f6;
      letter-spacing: 0.08em;
      font-weight: 600; 
      .slide {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          flex-direction: column !important;
          background-image: url('/assets/images/background.png');
          background-color: rgba(25, 25, 25, 0.8);
          background-blend-mode: color-burn;
          background-blend-mode: multiply;
      }
      .item {
        margin: 1rem 3rem !important;
        height: 100%;  
        width: 90%;
        .title {
            width: fit-content;
            height: 53px;
            font-family: 'Rubik', sans-serif;
            font-size: 3rem;
            line-height: initial;
            height: fit-content;
            text-indent: 3rem;
            word-break: keep-all;
        }
        .answers{
            height: fit-content !important;
            padding: 1rem 5px;
            width: 100% !important;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            font-size: 1.5rem;
            .mat-radio-button{
                line-height: initial;
                margin: 5px 0;
            }
            p{
                margin: 0 !important;
            }
        }
      }
  }
}

.course-name{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
    position: absolute;
    background: #F6F6F6;
    padding: 0 1rem;
    line-height: initial;
    margin: 0 !important;
    z-index: 9999;
    top: 16%;
    left: 20%;
}
.arrow {
    position: absolute;
    top: 50%;
    color: #F6F6F6;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    cursor: url('/assets/images/cursor.png'), auto;

    .mat-icon {
        font-size: 2rem;
        font-weight: 700;
    }

    &:focus {
        outline: 0 !important;
    }
}

.arrow--left {
    left: 5px;
}

.arrow--right {
    left: auto;
    right: 5px;
}

.arrow--disabled {
    opacity: 0.4;
}
:host ::ng-deep .mat-radio-container .mat-radio-outer-circle,
:host ::ng-deep .mat-radio-container .mat-radio-inner-circle {
    border: 2px solid white;
    width: 30px;
    height: 30px;
}
:host ::ng-deep .mat-radio-container{
    width: 30px;
    height: 30px;
}
:host ::ng-deep .mat-radio-label,
:host ::ng-deep .mat-radio-label-content,
:host ::ng-deep .mat-radio-button {
    width: 100% !important;
    white-space: initial;
    overflow-wrap: break-word;
}
button:hover, :host ::ng-deep .mat-radio-label:hover{
    cursor: url('/assets/images/cursor.png'), auto;
}
.confirm{
    top: -12%;
    left: 80%;
    width: 150px;
    font-size: 1.5rem;
}