<div class="container" >
    <nav class="nav">
        <img src="/assets/images/logo.png" class="logo" />
        <div style="display: flex; align-items: center;">
            <button class="nes-btn btn2 is-primary" (click)="goTo('profile')">Perfil</button>
            <button class="nes-btn btn1 is-primary" (click)="goTo('job')">Vagas</button>
        </div>
    </nav>
    <p class="course-name">{{course.name}}</p>
    <div class="content">
        <div class="keen-slider keen-slider--vertical" #sliderRef>
            <div class="keen-slider__slide slide" *ngFor="let item of course.questions; let itemIndex=index">
                <div class="item">
                    <h1 style="margin: 0" class="title">{{item.text}}</h1>
                    <mat-radio-group class="answers">
                        <mat-radio-button *ngFor="let answer of item.answer; let i=index" disableRipple="true" [value]="i" (click)="setAnswers(itemIndex, i, item.correctAnswer)">
                            <p>{{answer}}</p>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <button class="nes-btn confirm" [ngClass]="answers.includes(-1) ? 'is-disabled': 'is-success'" (click)="saveAnswer()" >Confirmar</button>
        <button mat-icon-button [ngClass]="'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')"
            (click)="slider.prev()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button *ngIf="slider" mat-icon-button
            [ngClass]="'arrow arrow--right ' + (slider.track.details.slides.length - 1 === currentSlide ? 'arrow--disabled' : '')"
            (click)="slider.next()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>