<div class="container">
    <nav class="nav">
        <img src="/assets/images/logo.png" class="logo" />
        <div style="display: flex; align-items: center;">
            <button class="nes-btn btn2 is-primary" (click)="goTo('profile')">Perfil</button>
            <button class="nes-btn btn1 is-primary" (click)="goTo('job')">Vagas</button>
        </div>
    </nav>
    <div class="content">
        <div class="courses">
            <div class="course" *ngFor="let c of courses">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <img [src]="c.url"/>
                    <p class="title">{{c.name}}</p>
                </div>
                <p class="description">{{c.description}}</p>
                <button class="nes-btn" (click)="startCourse(c)">Iniciar</button>
            </div>
        </div>
    </div>
</div>