<div class="container">
    <nav class="nav">
        <img src="/assets/images/ey.png"/>
        <div>
            <button>Vagas</button>
            <button>Treinamento</button>
        </div>
    </nav>
    <div class="nes-container" style="width: 60%; background-color: rgba(255, 255, 255, 0.3); margin: 10px auto;">
        <div class="profile">  
            <div class="img-container">
                <img class="" src="{{selectedDino}}" />
            </div>
            <div class="infos">
                <p class="username">Sones</p>
                <p class="current-level">Nivel 2</p>
                <div class="level">
                    <p class="exp">xp: 500/600</p>
                    <progress class="nes-progress is-primary experience" value="80" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
    <div class="data-container nes-container">
        <div class="nes-badge" mat-tab-label>
            <span class="is-dark">Habilidades</span>
        </div>
        <section class="message-list" style="margin: 10px 0 0 20px">
            <section class="message ">
                <div class="nes-balloon from-left">
                    <p>Conquistado habilidade de Java Iniciante.</p>
                    <img src="/assets/character/Hard/sword.png" class="nes-avatar is-medium"/>
                </div>
            </section>
            <section class="message">
                <div class="nes-balloon from-left">
                    <p>Conquistado habilidade de Java Intermediário.</p>
                    <img src="/assets/character/Hard/dagger.png" class="nes-avatar is-medium"/>
                </div>
            </section>
        </section>
    </div>
</div>