.container{
    background: rgba(25, 25, 25, 1);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.nav{
    width: 70%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    button{
        background: none;
        border: none;
        color: #fff;
        font-size: 1.2rem;
        padding-left: 2rem;
    }
}
.title{
    font-size: 2.3rem !important;
    font-weight: 800;
    letter-spacing: 4px;
}
.profile {
    width: 100%;
    min-height: 160px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-container {
    background-color: #B3CEDF;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;

    img {
        max-width: 100%;
        position: relative;
        top: 20%;
        right: 20%;
    }
}
.infos {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    color: #fff;

    .username {
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 4px;
    }
    .current-level{
        margin: 10px 0 5px !important;
        color: #92cc41;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .level {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;

        .exp{
            position: absolute;
            top: 50%;
            left: 3%;
            transform: translate(-5%, -50%);
            margin: 0 !important;
        }
    }
}
.data-container {
    height: 70%;
    width: 60%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.3);
    .message{
        margin-top: 30px;
        width: fit-content;
    }
    .nes-balloon{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 24 8 !important;
        p{
            margin: 0 !important;
        }
    }
}