<div class="bg">
  <div style="height:100vh">
    <nav class="nav">
      <img [srcset]="logo" style="margin-right: 20px; max-height: 100px;"/>
      <div style="display: flex">
        <button class="loginBtn" (click)="goTo('login')">
          Login
        </button>
        <img [srcset]=vector alt="divider" class="img"/>
        <button class="signupBtn" (click)="goTo('signup')">
          Sign Up
        </button>
      </div>
    </nav>
    <div class="carousel">
      <div *ngFor="let item of items; let i=index" [ngClass]="{'item-active':selectedIndex === i}"
           class="carousel-item changeDiv">
        <div style="margin-left: 120px; margin-bottom: 100px" class="item">
          <h1 style="margin: 0" class="title">{{item.title}}</h1>
          <p class="description">{{item.description}}</p>
          <button class="playBtn">{{item.button}}</button>
        </div>
      </div>

    </div>
    <div *ngIf="indicators" class="carousel-nav">
      <div *ngFor="let dot of items; let i=index" class="dot" [ngClass]="{'active':selectedIndex === i}"
           (click)="selectItem(i)">
        <span class="ball" [ngClass]="{'active':selectedIndex === i}"></span>
      </div>
    </div>
  </div>
</div>
