<div class="container">
  <nav class="nav">
    <img [srcset]="logo" class="logo"/>
    <div style="display: flex;">
      <button class="loginBtn nes-btn is-success" (click)="goTo('login')">
        Login
      </button>
      <button class="signupBtn nes-btn is-warning" (click)="goTo('signup')">
        Sign Up
      </button>
    </div>
  </nav>
  <div class="carousel">
    <div class="keen-slider keen-slider--vertical" #sliderRef>
      <div class="keen-slider__slide slide" *ngFor="let item of items; let i=index" [style]="'background-image: url(' + item.background + ')'">
        <div class="item">
          <h1 style="margin: 0" class="title">{{item.title}}</h1>
          <p class="description">{{item.description}}</p>
          <button class="playBtn nes-btn is-warning">{{item.button}}</button>
        </div>
      </div>
    </div>
    <button mat-icon-button [ngClass]="'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')"
      (click)="slider.prev()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button *ngIf="slider" mat-icon-button
      [ngClass]="'arrow arrow--right ' + (slider.track.details.slides.length - 1 === currentSlide ? 'arrow--disabled' : '')"
      (click)="slider.next()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="carousel-nav">
    <button (click)="slider.moveToIdx(i)" *ngFor="let slide of dotHelper; let i = index"
      [ngClass]="'dot ' + (i === currentSlide ? 'active' : '')">
    </button>
  </div>
</div>
